<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="Test1">
        <groups>
            <run>
                <include name="sanity"/>
                <include name="dynamicGroup"/>
            </run>
        </groups>
        <classes>
            <class name="com.rbc.ui.testCases.TestClass"/>
        </classes>
    </test>
</suite>